<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @manager.name %></h1>
    <p><%= @reservations %></p>
    <p><%= @concurred_hours %></p>
  </body>
</html>